.App {
  text-align: center;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pokemon-item {
  width: 80vw;
  border: 5px #0f851d solid;
  background-color: #FAFBFD;
  margin: 10px;
}

.pokemon-img {
  width: 60vw;
}

.pokemon-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.pokemon-infos {
  display: flex;
  justify-content: space-around;
}

.type-icon {
  height: 46px;
}


